<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Load CSS in Flask with html -->
    <link rel="stylesheet" href='/static/css/main.css' />
    <!-- Load JavaScript in Flask with html -->
    <!-- <script>
        alert("Page has been loaded successfully");
    </script> -->
</head>
<body>
    <div ><h1 id="titleheader"><div style="margin-left: 30%;">EX FIDA BONA</div></h1></div>
    <br><br>
    <div class="box">
        <div class="content">
            <!-- <h1>What the fuck is a eula?</h1> -->
            
            <!-- <p>swag$</p>
    
            <br><br>
            <hr> -->
            <br><br>
            <form action="/data" method="POST">
                <label for="search"><p>lookup?</p></label><br>
                <input type="search" id="search" name="search" class="searchbox"><br><br>
                <input type="submit" value="SEARCH"><br>
            </form>
            <br><br>
        </div>
    </div>
</body>
</html>